.img-fit {
    width: 70%;
    height: 15vw;
    margin-left: auto;
    margin-right: auto;
    margin-top : 10%;
}

.zoom:hover {
    transform: scale(1.01);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge {
    position: relative;
    margin-left: -25px;
    margin-top: -25px;
    background-color: rgb(219, 21, 21);
    color: white;
    border-radius: 50%;
}
.backimg{
    background-image: url("./images/backimg.jpg");
}
.bg-brown{
    background-color: #3c2a1e;
    
}